version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecom
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/ecom
      REDIS_URL: redis://redis:6379/0
    ports:
      - "8000:8000"

  worker:
    build: .
    command: celery -A app.tasks worker --loglevel=INFO
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/ecom
      REDIS_URL: redis://redis:6379/0

volumes:
  db_data:
